{{- $url := .Destination -}}
{{- $isExternal := or (strings.HasPrefix $url "http://") (strings.HasPrefix $url "https://") -}}
{{- $isInternal := false -}}
{{- if $isExternal -}}
  {{- $host := urls.Parse $url -}}
  {{- $siteHost := urls.Parse site.BaseURL -}}
  {{- if eq $host.Host $siteHost.Host -}}{{- $isInternal = true -}}{{- end -}}
{{- end -}}
<a href="{{ $url | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if and $isExternal (not $isInternal) }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ .Text | safeHTML }}</a>
